//global
$global-font-family:"source-sans-pro","Helvetica Neue","Helvetica","Arial","sans-serif" !default;
$susy-box-sizing:border-box;
$susy-columns:12;
$susy-getters:0.25;
$container-width:90%;
//alert
$alert-background-color:#C6538C !default;
$alert-color:hsla(0,100%,100%,0.75) !default;


//pop-stripe
$pop-stripe-colors:red orange yellow green
